.Button {
  margin: 5;
}

.SearchBlock {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.TitledCard {
  display: flex;
  flex-direction: column;
  margin: 10 0;
}

.UserCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  width: 900px;
  margin: auto;
}

.RequestCard {
  background: #fff;
  margin: 10 auto;
  width: 100%;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  display: flex;
  flex-direction: row;
}

.RequestItemBlock {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  justify-content: space-around;
}

.RequestItemBlockHeader {
  font-weight: bold;
}

.PageButton {
  margin: 5px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0px 3px 0px;
  position: relative;
  top: 0px;
  transition: all ease 0.08s;
  width: 80px;
  padding: 0px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.PageButton:active {
  box-shadow: 0 1px 0;
  top: 2px;
}

.PageButtons {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.Selector {
  display: inline-block;
  width: 150px;
}

.SelectorOption {
  width: auto;
}

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 400px;
}

.NavLink {
  text-decoration: underline;
  margin: 0 10px;
  font-size: x-large;
}

.InputPair {
  display: flex;
  flex-direction: row;
}

.StatusComponent {
  display: flex;
  flex-direction: row;
}
